aiohttp==3.7.4.post0
altgraph==0.17
amqp==2.6.1
async-timeout==3.0.1
attrs==21.2.0
auto-py-to-exe==2.7.8
beautifulsoup4==4.9.3
billiard==3.6.4.0
bottle==0.12.18
bottle-websocket==0.2.9
cachetools==4.2.2
celery==4.4.7
certifi==2020.12.5
cffi==1.14.3
chardet==4.0.0
charset-normalizer==2.0.6
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
cycler==0.10.0
discord==1.7.3
discord.py==1.7.3
Eel==0.12.4
et-xmlfile==1.1.0
EZGmail==2021.8.5
EZSheets==2020.10.10
future==0.18.2
gevent==20.9.0
gevent-websocket==0.10.1
google-api-core==1.31.1
google-api-python-client==2.15.0
google-auth==1.34.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.5
googleapis-common-protos==1.53.0
greenlet==0.4.17
gspread==4.0.0
hashids==1.3.1
httplib2==0.19.1
idna==2.10
IMAPClient==2.2.0
jdcal==1.4.1
kiwisolver==1.3.2
kombu==4.6.11
lxml @ file:///D:/Pobrane1/lxml-4.6.3-cp38-cp38-win32.whl
matplotlib==3.4.3
MouseInfo==0.1.3
multidict==5.1.0
networkx==2.6.3
numpy==1.21.1
oauth2client==4.1.3
oauthlib==3.1.1
openpyxl==2.6.2
packaging==21.0
paymentwall-python==1.0.8
pefile==2019.4.18
Pillow==8.3.1
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycoingecko==2.2.0
pycparser==2.20
pygame==2.0.2
PyGetWindow==0.0.9
PyInputPlus==0.2.12
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.9
PyJWT==1.7.1
PyMsgBox==1.0.9
pyparsing==2.4.7
PyPDF2==1.26.0
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.27
PySimpleValidate==0.2.12
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==0.19.0
PyTweening==1.0.3
pytz==2021.1
pywin32-ctypes==0.2.0
pyzmail36==1.0.4
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
selenium==3.141.0
six==1.16.0
soupsieve==2.2.1
stdiomask==0.0.6
twilio==6.63.0
typing-extensions==3.10.0.2
uritemplate==3.0.1
urllib3==1.25.10
vine==1.3.0
webdriver-manager==3.4.0
whichcraft==0.6.1
xmlx==2.0.0
yarl==1.6.3
zope.event==4.5.0
zope.interface==5.1.2
